body{
    background-color: #333
}
nav{
    background-color: #333;
    display: flex; 
    flex-direction: row;
    align: top;
    justify-content: space-between;
}
nav ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
    border-right: 1px solid grey;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li:last-child {
    border-right: none;
}
nav a{
    background-color: #333;
    color: snow;
    /* display: flex; 
    flex-direction: row;
    align: top;
    justify-content: space-evenly; */
}
a:visited{
    color: snow;
}
a:hover{
    background-color:red;
}
.greennav a:hover{
    background-color: green;
}
.page{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

#rectangle1{
    /* display:flex;
    flex-direction: column;
    justify-content: center; */
    text-align: center;
    width: 50%;
    height: 90px;
    border: 5px solid snow;
    color: snow;
    background: black;
    margin-top: 0px;
}

#rectangle2{
    /* display:flex;
    flex-wrap: wrap;
    justify-content:center; */
    text-align: center;
    width: 50%;
    height: 250px;
    border: 5px solid snow;
    background:black;
    color:snow;
    margin-top: 0px;
}
.rectangle2 ul{
    list-style-type: none;
}

#rectangle3{
    /* display:flex;
    flex-wrap: wrap;
    justify-content:center; */
    text-align: left;
    width: 50%;
    height: 250px;
    border: 5px solid snow;
    background:black;
    color:snow;
    margin-top: 0px;
}
.video{
    width:50%;
    height: 55%;
    margin-right: 0%;
    display:flex;
    justify-content: flex-end;
    align-items: right;
    /* display: flex;
    justify-content: flex-end;
    align-items: right; */

}

