body{
    background: #333;
}
.nav{
    background-color: #333;
    position: fixed;
    display: flex; 
    flex-direction: row;
    top: 0;
    justify-content: space-between;
}

.nav ul {
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav ul li {
    float: left;
    border-right: 1px solid grey;
}

.nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav ul li:last-child {
    border-right: none;
}
.nav a{
    background-color: #333;
    color: snow;
    /* display: flex; 
    flex-direction: row;
    align: top;
    justify-content: space-evenly; */
}
.nav a:visited{
    color: snow;
}
.nav a:hover{
    background-color:red;
}
.greennav a:hover{
    background-color: green;
}

.info {
    margin-top: 120px;
}
.info ul li{
    color: snow;
    list-style-type: none;
}
.info h2{
    color: snow;
}